

<div class="cards container-book row text-center">

    <div class="card col-sm-4 col-md-4">

        <div class="thumbnail card-img">
            <img class="" src="~/Images/Images/Sach/KT0002.jpg" alt="TH005" style="width: 100%; height: 200px;">
        </div>

        <div class="caption card-content">
            <div class="card-top">
                <h3 class="card-title">Lap Trinh 24h</h3>
                <p class="card-desc">ABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKF</p>
            </div>

        </div>

    </div>
    <div class="card col-sm-4 col-md-4">

        <div class="thumbnail card-img">
            <img class="" src="~/Images/Images/Sach/KT0002.jpg" alt="TH005" style="width: 100%; height: 200px;">
        </div>

        <div class="caption card-content">
            <div class="card-top">
                <h3 class="card-title">Lap Trinh 24h</h3>
                <p class="card-desc">ABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKF</p>
            </div>

        </div>

    </div>
    <div class="card col-sm-4 col-md-4">

        <div class="thumbnail card-img">
            <img class="" src="~/Images/Images/Sach/KT0002.jpg" alt="TH005" style="width: 100%; height: 200px;">
        </div>

        <div class="caption card-content">
            <div class="card-top">
                <h3 class="card-title">Lap Trinh 24h</h3>
                <p class="card-desc">ABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKFABCDEFGHJKF</p>
            </div>

        </div>

    </div>

</div>

